- ¿Cuáles fueron los géneros mejor rankeados en promedio en el año 2005?
- ¿Cuál es el top 5 de películas mejor rankeadas en promedio?
- ¿Cuál es el género con más revies?
- ¿Cuáles es el género por año con mejor rating entre el año 2000 y 2010?
- ¿Cuál es el usuario con más críticas y cuál es su género favorito?

In [1]:
import pandas as pd

In [11]:
ratings = pd.read_csv('../data/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [47]:
movies = pd.read_csv('../data/movies.csv')
print(movies.shape)
movies.head()

(9742, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [54]:
# ¿Cuál es el top 5 de películas mejor rankeadas en promedio?

movies_groupby = ratings.groupby(['movieId'])
ratings_mean = movies_groupby.mean()

In [53]:
ratings_mean.merge(movies, on='movieId').drop(columns=['userId', 'timestamp']).set_index('movieId').sort_values('rating', ascending=False)

,rating,title,genres
movieId,,,
88448,5.0,Paper Birds (Pájaros de papel) (2010),Comedy|Drama
100556,5.0,"Act of Killing, The (2012)",Documentary
143031,5.0,Jump In! (2007),Comedy|Drama|Romance
143511,5.0,Human (2015),Documentary
143559,5.0,L.A. Slasher (2015),Comedy|Crime|Fantasy
...,...,...,...
157172,0.5,Wizards of the Lost Kingdom II (1989),Action|Fantasy
85334,0.5,Hard Ticket to Hawaii (1987),Action|Comedy
53453,0.5,Starcrash (a.k.a. Star Crash) (1978),Action|Adventure|Fantasy|Sci-Fi
8494,0.5,"Cincinnati Kid, The (1965)",Drama
71810,0.5,Legionnaire (1998),Action|Adventure|Drama|War

In [ ]:
# ¿Cuál es el género con más reviews?

In [27]:
movies_groupby.count()['userId']
# movies['ratings_mean'] = movies_groupby.mean()['rating']

movieId
1         215
2         110
3          52
4           7
5          49
         ...
193581      1
193583      1
193585      1
193587      1
193609      1
Name: userId, Length: 9724, dtype: int64

In [39]:
ratings_per_user = ratings.groupby(['userId']).count()
ratings_per_user['rating'].sort_values(ascending=False)[:5]

userId
414    2698
599    2478
474    2108
448    1864
274    1346
Name: rating, dtype: int64